section#lyrics {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div#content {
    padding-left: 75px;
}

div#annotation {
    padding-right: 75px;
}

div#content div#option-container {
    display: inline-flex;
    justify-content: space-around;
}

div#content div#option-container:hover {
    cursor: pointer;
}

div#content div.option {
    border-top-style: solid;
    border-bottom-style: solid;
    padding-left: 1em;
    padding-right: 1em;

    border-left-style: solid;

    background-color: lightgrey;
}

div#content div.option.active {
    background-color: lightgreen;
}

div#content div.option:first-child {
    border-left-style: solid;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

div#content div.option:last-child {
    border-right-style: solid;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

div#content p:is(.intro, .verse, .chorus, .bridge, .outro) {
    border-left-width: 1em;
    border-left-style: solid;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    padding-left: 1em;

    white-space: pre-line;
}
div#content p.intro {
    border-left-color: #64adc4;
}
div#content p.verse {
    border-left-color: #4887b7;
}

/*annotated-text::part(text):hover {*/
/*    text-decoration: underline;*/
/*}*/
