section#song-info {
    height: 300px;
    background-color: #bfdbc4;
    display: flex;
    gap: 3em;
    margin-bottom: 4em;
}
section#song-info div#img-container {
    margin-left: 2em;
    margin-top: 2em;
}
section#song-info div#about {

}
