header {
    display: flex;
    align-items: center;

    border-bottom-style: solid;
    border-bottom-width: thin;
}
div.last-child {
    margin-left: auto;
}
nav {
    padding: 1em;
}
nav ol {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
nav ol li {
    display: inline;
}
nav ol li:not(:last-child)::after {
    display: inline;
    content: ">";
    padding-left: 5px;
}
nav form {
    height: 1.5em;

    display: flex;
    align-items: center;
}
nav form label {
    display: none;
}
nav form input {
    padding: 0;
    border: none;
}
nav form button {
    margin: 0;
    padding: 0 1em;
    border: none;
}
nav form button:hover {
    cursor: pointer;
}
div.last-child {
    display: flex;
    align-items: center;
}
div.last-child nav {
    border-right-style: solid;
    border-right-width: thin;
}
div.last-child div.login {
    padding: 1em;
    margin-left: 1em;

    background-color: #dee2e6;
    border-radius: 50% 10% 50% 10%;
}
div.last-child div.user {
    padding: 1em;
    margin-left: 1em;
}
