section#lyrics div#option-container {
    display: inline-flex;
    justify-content: space-around;
}

section#lyrics div#option-container:hover {
    cursor: pointer;
}

section#lyrics div.option {
    border-top-style: solid;
    border-bottom-style: solid;
    padding-left: 1em;
    padding-right: 1em;

    border-left-style: solid;
}

section#lyrics div.option:first-child {
    border-left-style: solid;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;

    background-color: lightgreen;
}

section#lyrics div.option:last-child {
    border-right-style: solid;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;

    background-color: lightgrey;
}

section#lyrics p:is(.intro, .verse, .chorus, .bridge, .outro) {
    border-left-width: 1em;
    border-left-style: solid;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    padding-left: 1em;

    white-space: pre-line;
}
section#lyrics p.intro {
    border-left-color: #64adc4;
}
section#lyrics p.verse {
    border-left-color: #4887b7;
}

/*annotated-text::part(text):hover {*/
/*    text-decoration: underline;*/
/*}*/
